
/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    color: var(--c-grey-25);
    background-color: var(--c-black);
    font-size: 16px;
    font-family:"Puvi_Regular";
    line-height: 1.3;
}

ul li { list-style: none; }
a { text-decoration: none; }
a:hover { cursor: pointer; }
/* ///common */