
.deafault-tittle{
    font-size: 22px;
    font-family:"Puvi_Bold";
    color:var(--c-black);
}
.deafault-tittle-sm{
    font-size: 18px;
    color:var(--c-black);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    border-radius: var(--br-radius-lm);
    background-color: var(--c-blur-blue);
}